altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
bcrypt==3.1.7
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.2.1
daphne==3.0.1
distlib==0.3.1
Django==3.1.2
django-filter==2.3.0
django-haystack==3.0
djangorestframework==3.11.1
elasticsearch==7.9.1
filelock==3.0.12
Flask==1.1.2
future==0.18.2
get==2019.4.13
gunicorn==20.0.4
hyperlink==20.0.1
idna==2.9
importlib-metadata==2.0.0
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
macholib==1.14
make-deb==0.0.5
MarkupSafe==1.1.1
Pillow==7.2.0
post==2019.4.13
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pyOpenSSL==19.1.0
pytz==2020.1
query-string==2019.4.13
requests==2.23.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.9
virtualenv==20.1.0
Werkzeug==1.0.1
Whoosh==2.7.4
zipp==3.4.0
zope.interface==5.2.0
