{% extends 'main.html' %}
    {% load static %}
    {% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="about-section paddingTB60 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <div class="about-title clearfix">
                            <h1>About <span>Episode One</span></h1>
                            <h3>Looking for a TV pilot? We might have it! </h3>
                            <p class="about-paddingB">We only post television pilots that have aired for aspiring writers looking for a future in television.</p>
                            <p>And everyone else with a natural proclivity for reading teleplays.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endblock content %}