<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{creator.name}}</h1>
    <div>
        {% for shows in creator.shows.all %}
        <li>
            <ul><a href="{% url 'show' shows.id %}">{{ shows.title }}</a></ul>
        </li>
        {% endfor %}
        {{creator_info.biography}}
        <img src="https://image.tmdb.org/t/p/w500/{{creator_info.profile_path}}">
        
        
       
    </div>
    <div class="creator_rec_bar">
        <p>This will be a creator recommendation horizontal scroll bar</p>
    </div>
</body>
</html>