    {% extends 'main.html' %}
    {% load static %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <div class="app-table">
        <div class="row">
            {% for show in show_data %}
            <div class="col-lg-4">
                
                <img class="thumbnail" src="https://image.tmdb.org/t/p/w500/{{show.0.poster_path}}">
            
                <div class="box-element product">
                    
                    <a id="title" href="{% url 'show' show.1.id %}">{{ show.1.title }}</a>
 
                    
                    
                    <p>Page Count: {{ show.1.count }}</p>
                        
                    
                    {% for creator in show.1.creators.all %}
                        <p>Creator: <a href="{% url 'creator' creator.id %}">{{ creator.name }}</a></p>
                    {% endfor %}
                    
            
                    {% if show.1.script %}
                    <a href="{{ show.1.script.url }}" target="_blank">Read Me</a>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
            
            <!-- for page count and transition to the next 15 items -->
            {% if page.paginator.count > 15 %}
                <div class="pagination">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item {% if not prev_page_url %}disabled {% endif %} ">
                                <a class="page-link" href="{{ prev_page_url }}" tabindex="-1">Previous</a>
                            </li>
                            {% for n in page.paginator.page_range %}
                                {% if page.number == n %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                                    </li>
                                {% elif n > page.number|add:-3  and n < page.number|add:3 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        
                        <li class="page-item {% if not next_page_url %}disabled {% endif %} ">
                            <a class="page-link" href="{{ next_page_url }}">Next</a>
                        </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
   

    
    {% endblock content %}
