
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episode One</title>

    {% load static %}

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" id="icon" href="{% url 'home' %}"><strong><i>EPISODE ONE</i></strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <form class="form-inline my-2 my-lg-0" action="/" method="GET">
        
            <input class="form-control mr-sm-2", type="text", name="search" placeholder="Search by title or creator">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
        <div class="hyper-link">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li data-tooltip="Our Mission" class="nav-item active">
                <a class="nav-link" id="about" href="{% url 'about' %}"><strong>Mission</strong></a>
              </li>
              
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" id="comment" href="{% url 'comment' %}"><strong>Comment</strong></a>
                   
                </li>
              </ul>
            
        </div>
  
            
          </div>
    
        </nav>
    

    <div class="container">
        {% block content %}
        {% load static %}
        {% endblock content %}

    </div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

 
  <script>

  
  </script>


</body>
</html>

