
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="pilot database" content="This is a webiste for tv pilot screenplay download">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="script, screenplay, tv, pilot, writer, creator">
    <title>Episode One</title>

    {% load static %}

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" id="icon" href="{% url 'index' %}"><strong><i>EPISODE ONE</i></strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <form class="form-inline my-2 my-lg-0" action="/" method="GET">
        
            <input class="form-control mr-sm-2", type="text", name="search", id="search", placeholder="Search by title or creator" autocomplete="off">
  
          </form>
        <div class="hyper-link">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li data-tooltip="Our Mission" class="nav-item active">
                <a class="nav-link" id="about" href="{% url 'about' %}"><strong>Mission</strong></a>
              </li>
              
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" id="comment" href="{% url 'comment' %}"><strong>Comment</strong></a>
                   
                </li>
              </ul>
            
        </div>
  
            
          </div>
    
        </nav>
    

    <div class="container">
        {% block content %}
        {% load static %}
        {% endblock content %}

    </div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
  <script>
    function searchShow(query){

      const base_url = `https://api.tvmaze.com/search/shows?q=${query}`;

      //first part gets the response 
      fetch(base_url)
      .then(function(res) {
        
        //console.log(res);
        return res.json()
      }) //second part gets the data
      .then(function(jsonData){
          const results = jsonData.map(element => element.show.name);
          console.log(results);
      });

    }

    window.onload = function() {
      const searchFieldElement = document.getElementById("search");
      searchFieldElement.onkeyup = function(event){
        searchShow(searchFieldElement.value);
      };
    }
  </script>


</body>
</html>

